# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environnement
.env
.env.local
.env.production

# Build
dist/
build/
.vite/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
logs/
*.log

# ESP32
esp32/*.hex
esp32/*.bin

# Misc
.cache/
coverage/
